* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f0f0f0;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a:hover, a:active, a:link, a:visited {
  text-decoration: none;
}

.control-label {
  display: none;
}
dropdown-menu{
  text-decoration-color: pink;
}